body
{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.d1
{
background-color: rgba(103, 145, 201, 0.438);
height:68vh;
width: 33vw;
border-radius: 12px;
display: flex;
flex-direction: column;
color: white;
justify-items: center;
align-items: center;
justify-items: center;
box-shadow: 1px 1px 10px black;
font-size: 30px;
}

.user
{
    height: 10vh;
    border-radius: 60px;
    background-image: url(usário\ holder.png);
    background-size: cover;
    width: 10vh;
    box-shadow: 1px 1px 3px black;
    
    
}
.caixa_info
{
    background-color: rgb(255, 255, 255);
    
    width: 350px;
    height: 3.2vh;
    box-shadow: 2px 2px 4px black;
    font-size: 15px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-items: center;
    color: black;
}
.dados
{
    background-color: rgba(21, 124, 221, 0.322);
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
    display: flex;
    
    justify-items: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 400px;

}
.espaco
{
    height: 5vh;
}